/*****************************
Bootstrap
*****************************/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');



/*****************************
Nav Bar
*****************************/


.navbar.navbar-inverse {
  background: url('/assets/congruent_outline.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #2AADD1;
  font-family: 'jenna_sueregular';
  font-size: 40px;
}

.glyphicon {
  color: white;
}

.navbar-right {
  font-family: 'quicksandregular';
}


/*****************************
Pagination
*****************************/

.pagination {
  background-color: fff;
  float: right;
  margin-right: 25px;
  }

.pagination a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

.pagination .disabled {
  display: none;
}

.pagination .current {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}




/*****************************
Body
*****************************/


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}



body {
  background: url('/assets/grey_wash_wall.png');
  font-family: 'quicksandregular';
  font-size: 1.5em;
}


/*****************************
Alerts
*****************************/

/*.alert-warning {
  background-color: transparent;
  color: white;
  border: none;
} */


/*****************************
Errors
*****************************/

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

/*****************************
Maps
*****************************/


#map {
height: 400px;
}


/*****************************
Forms
*****************************/

.clear {
  clear: both;
}

/*****************************
Block Quotes
*****************************/

blockquote {
  color: black;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.email {
  color: black;
}

.comment {
  color: black;
}

.lastquote {
  color: black;
}

.lastemail {
  color: black;
}


